{% extends 'base.html' %}

{% block linkcss %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login/login.css') }}">{% endblock linkcss %}

{% block title %} Login {% endblock title %}

{% block content %}
<main class="login_main">
    <section class="form_login_center">
        <form method="POST" class="form_container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
    </section>
</main>
{% endblock content %}
